# -------------------------------
# Flutter/Dart 기본 설정
# -------------------------------
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_workspace/

# -------------------------------
# iOS
# -------------------------------
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.dart_tool/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/*.xcframework
*.podspec

# Xcode 자동 생성 파일
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcodeproj/*
!ios/Runner.xcodeproj/project.pbxproj
!ios/Runner.xcodeproj/xcshareddata/
*.xcworkspace
!ios/Runner.xcworkspace/contents.xcworkspacedata
!ios/Runner.xcworkspace/xcshareddata/

# -------------------------------
# Android
# -------------------------------
android/.gradle/
android/captures/
android/.idea/
android/local.properties
**/gradle-wrapper.jar
android/app/build/
*.iml

# -------------------------------
# macOS
# -------------------------------
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/
*.xcworkspace
*.xcodeproj
macos/Runner.xcworkspace/
macos/Runner.xcodeproj/

# -------------------------------
# Windows
# -------------------------------
windows/flutter/ephemeral/
windows/.dart_tool/
windows/build/

# -------------------------------
# Web
# -------------------------------
web/.dart_tool/
web/build/

# -------------------------------
# 기타
# -------------------------------
.idea/
.vscode/
*.iml
*.log
*.tmp
*.swp
*.DS_Store
*.bak
*.orig
*.rej

# -------------------------------
# Generated files
# -------------------------------
*.g.dart
*.freezed.dart
*.mocks.dart
*.gr.dart
*.injectable.dart
